@charset "utf-8";
/*==============================================

    ----------------------------------------------------------------
	* Date				:	2018.12.10
	* Modify			:
	* Name				:	form.css
	----------------------------------------------------------------

	- Description -

	00. common			:	전체 공통사항
	01. checkbox		:	checkbox 요소
	02. radio			:	radio 요소
	03. form			:	form 요소

==============================================*/


/* ===========================
	00. common
=========================== */
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=url],
input[type=password]	{display:inline-block; width:75px; min-width:75px; max-width:100%; height:38px; padding:0 15px; color:#222; font-family:Noto Sans CJK KR , 'Noto Sans', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; font-size:14px; border:1px solid #d6d6d6; background-color:#fff; outline:0; box-sizing:border-box; vertical-align:top; transition:border 0.3s ease;}
textarea						{display:inline-block; width:100%; height:100px; padding:15px; color:#222; font-family:Noto Sans CJK KR , 'Noto Sans', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; font-size:14px; line-height:20px; border:1px solid #d6d6d6; overflow:auto; resize:none; vertical-align:top; box-sizing:border-box; outline:none; transition:border 0.3s ease;}
select						{display:inline-block; width:auto; min-width:100px; max-width:100%; height:38px; padding:5px 50px 5px 15px; color:#222; font-family:Noto Sans CJK KR , 'Noto Sans', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; font-size:14px; line-height:1; border:1px solid #d6d6d6; background-color:#fff; background-image:url(../../images/util/select_arrow.gif); background-position:right top; background-repeat:no-repeat; box-sizing:border-box; text-indent:0.01px; outline:none; -webkit-appearance: none; -moz-appearance:none; appearance: none; vertical-align:top; transition:border 0.3s ease;}
select::-ms-expand		{display:none;}


input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus,
input[type=text].active,
input[type=number].active,
input[type=email].active,
input[type=tel].active,
input[type=url].active,
input[type=password].active,
textarea.active {color:#222; border-color:#222;}
input.bnone {border:0;}
select:disabled {color:#aaa; border-color:#e5e5e5; background-color:#fafafa;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.placeholdersjs{color:#999}
::-webkit-input-placeholder	{color: #999;}
::-moz-placeholder				{color: #999;}
:-ms-input-placeholder			{color: #999;}
:-moz-placeholder				{color: #999;}

*::selection {color:#fff; background:#324554;}
*::-moz-selection {color:#fff; background:#324554;}

button,
input[type=file],
input[type=image],
input[type=reset],
input[type=button],
input[type=submit] {font-family:Noto Sans CJK KR , 'Noto Sans', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; border:none; border-radius:0; background:none; cursor:pointer; -webkit-appearance:none; appearance:none;}
button:focus,
button:hover {outline:none;}

/* jquery-ui */
.ui-datepicker .ui-datepicker-title select {display:inline-block; min-width:0; width:40%; height:30px; padding:5px 10px; margin:0 3px; color:#222; font-size:14px; line-height:1; border:1px solid #ddd; background-color:#fff; background-image:url(../../images/util/select_arrow.png); background-position:right 10px center; background-repeat:no-repeat; vertical-align:middle; -webkit-appearance:inherit; appearance:inherit}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {top:4px;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {top:3px;}

.datepicker {width:150px !important;}

.date-input {position:relative; display:inline-block;}
.date-input > img {position:absolute; top:50%; right:1px; width:40px; height:36px; margin-top:-18px; background-color:#f2f2f2; cursor:pointer;}
.date-input-wrap {position:relative; display:inline-block; padding-right:80px; overflow:hidden; z-index:100;} /* 20190305 수정 */
.date-input-wrap > a,
.date-input-wrap > button,
.date-input-wrap > input[type=submit] {position:absolute; top:0; right:0; width:70px; min-width:70px; padding:0;}
.date-input-wrap .cell {position:relative; float:left;}
.date-input-wrap .cell:nth-child(2) {padding-left:20px;}
.date-input-wrap .cell:nth-child(2):before {content:'~'; position:absolute; top:0; left:0; display:block; width:20px; height:34px; color:#666; font-size:15px; line-height:34px; text-align:center;}

/* ===========================
	01. checkbox
=========================== */
.check-type01 {position:relative; display:inline-block; margin-right:15px; height:auto; line-height:20px;}
.check-type01 input[type=checkbox] {position:absolute; top:0; left:0; width:0; height:0; opacity:0; filter:alpha(opacity=0);}
.check-type01 input[type=checkbox] + label {position:relative; display:inline-block; padding-left:32px; color:#666; font-size:14px; line-height:20px; word-break:keep-all; cursor:pointer;}
.check-type01 input[type=checkbox] + label span {position:absolute; top:0; left:0; display:inline-block; width:20px; height:20px; border:1px solid #a5a5a5; border-radius:3px; background-color:#fff; background-image:url(../../images/icon/icon_checkbox.png); background-repeat:no-repeat; background-position:0 0; box-sizing:border-box;}
.check-type01 input[type=checkbox]:checked + label span {background-position:0 -18px;}
.check-type01 input[type=checkbox]:disabled + label {opacity:0.5;}
.check-type01.single {margin:0;}
.check-type01.single input[type=checkbox] + label {height:20px; padding-left:20px;}
.check-type01.single input[type=checkbox] + label span {margin-right:0;}



/* ===========================
	02. radio
=========================== */
.radio-type01 {position:relative; display:inline-block; margin-right:15px; height:auto; line-height:20px;}
.radio-type01 input[type=radio] {position:absolute; top:0; left:0; width:0; height:0; opacity:0; filter:alpha(opacity=0);}
.radio-type01 input[type=radio] + label {position:relative; display:inline-block; padding-left:32px; color:#666; font-size:14px; line-height:20px; word-break:keep-all; cursor:pointer;}
.radio-type01 input[type=radio] + label span {position:absolute; top:0; left:0; display:inline-block; width:20px; height:20px; margin-right:10px; border:1px solid #a5a5a5; border-radius:11px; background-color:#fff; box-sizing:border-box; transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
.radio-type01 input[type=radio] + label span:after {content:''; position:absolute; top:50%; left:50%; display:block; width:0; height:0; margin-top:0; margin-left:0; border-radius:5px; background-color:#cc0f0f; transition:all 0.2s ease-out;}
.radio-type01 input[type=radio]:checked + label span {border-color:#a5a5a5;}
.radio-type01 input[type=radio]:checked + label span:after {width:10px; height:10px; margin-top:-5px; margin-left:-5px; background-color:#cc0f0f;}
.radio-type01 input[type=radio]:disabled + label {opacity:0.5;}
.radio-type01.single {margin:0;}
.radio-type01.single input[type=radio] + label {height:20px; padding-left:20px;}
.radio-type01.single input[type=radio] + label span {margin-right:0;}


/* ===========================
	03. form
=========================== */
/* input info */
.input-flex-info {color:#999; margin-left:10px; line-height:38px;}
.input-block-info {display:block; margin-top:10px; color:#ff6d02; font-size:13px; line-height:1;}

/* input + btn */
.input-btns {display:inline-block; line-height:38px;}
.input-btns input + a {margin-left:10px; width:auto; min-width:0; }

/* checkbox & radio box */
.check {display:inline-block; margin-left:20px;}
.check input ,
.check label {vertical-align:middle;}
.check label {margin-left:10px; font-size:14px;}
.check:first-child {margin-left:0;}

.radio {display:inline-block; margin-left:20px;}
.radio input ,
.radio label {vertical-align:middle;}
.radio label {margin-left:10px; font-size:14px;}
.radio:first-child {margin-left:0;}

.right-check {display:inline-block; margin-left:10px; padding:8px 0;}

/* label + textarea */
.label-textarea {position:relative;padding-left: 60px;}
.label-textarea + .label-textarea {margin-top: 10px;}
.label-textarea > label {position:absolute; top:0; left:0; margin-right:10px; color:#666; font-size:14px; line-height:38px;}
.label-textarea textarea {display:inline-block;}

/* input + input */
.row-input-wrap {display:inline-block; margin:-5px; line-height:38px; overflow:hidden;}
.row-input-wrap > div {float:left; padding:5px; box-sizing:border-box; }
.row-input-wrap .check-type01,
.row-input-wrap .radio-type01 {margin-top:8px;}

.char {margin-left:5px; line-height:38px;}

/* 라벨 있는 입력 */
.label-input {position:relative; display:inline-block;}
.label-input > label {margin-right:10px; color:#666; font-size:14px; line-height:38px;}

/* 라벨 있는 입력 여러개 있을경우*/
.label-input-mulity .label-input {margin-right:20px;}

/* 사이즈별 가격 입력 */
.mulity-row-input-wrap {padding:10px 0;}
.mulity-row-input-wrap .radio-type01 {margin-left:5px;}
.mulity-row-input-wrap .cell {margin-top:10px;}
.mulity-row-input-wrap .cell div {margin-right:10px;}
.mulity-row-input-wrap label {margin-right:10px; color:#666; font-size:14px;}
.mulity-row-input-wrap .row-input-wrap label {width:80px;}

/* mulity check & radio */
.mulity-check-radio {display:inline-block;margin:-5px; overflow:hidden;}
.mulity-check-radio > div {float:left; padding:5px; box-sizing:border-box;}
.mulity-check-radio.type-02 {margin:-10px;}
.mulity-check-radio > div {padding:10px;}

/* label check box */
.mulity-label-radio {display:inline-block;margin:-5px; overflow:hidden;}
.mulity-label-radio > div {float:left; padding:0 5px; box-sizing:border-box;}
.label-radio {position:relative; display:inline-block;}
.label-radio input[type=radio] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer}
.label-radio input[type=radio] + label {display:inline-block; min-width:50px; height:38px; padding:0 15px; color:#666; font-size:14px; line-height:36px; border-radius:2px; border:1px solid #a5a5a5; background-color:#fff; text-align:center; box-sizing:border-box;}
.label-radio input[type=radio]:checked + label {color:#222; font-weight:400; border-color:#222;}

/* row mulity input */
.row-mulity-input {line-height:38px;}
.row-mulity-input > * {margin-right:7px;}

/* 전화번호 및 휴대폰 */
.phone-wrap {display:inline-block; overflow:hidden;}
.phone-wrap select {width:100px; min-width:100px;}
.phone-wrap input {width:90px; min-width:90px; text-align:center;}
.phone-wrap > div {position:relative; float:left;}
.phone-wrap .second,
.phone-wrap .three {padding-left:20px;}
.phone-wrap .second:after,
.phone-wrap .three:after {content:'-'; position:absolute; top:0; left:0; display:block; width:20px; height:34px; color:#666; font-size:15px; line-height:34px; text-align:center;}

/* 주소 입력 */
.address-wrap {max-width:520px;}
.address-wrap > p {margin-top:10px;}
.address-wrap > p:first-child {margin-top:0;}
.address-wrap .zip-code input{margin-right:10px;}
.address-wrap .zip-code > a {width:auto; min-width:0;}

/* 이메일 입력 */
.email-wrap {max-width:520px; overflow:hidden;}
.email-wrap > p {position:relative; float:left; box-sizing:border-box;}
.email-wrap select,
.email-wrap input {width:100%; min-width:0;}
.email-wrap .email-name {width:28%}
.email-wrap .email-address {width:34%; padding-left:20px;}
.email-wrap .email-address:after {content:'@'; position:absolute; top:0; left:0; display:block; width:20px; height:34px; color:#666; font-size:15px; line-height:34px; text-align:center;}
.email-wrap .email-select {width:38%; padding-left:10px;}

/* 파일 업로드 */
.file-input {position:relative; padding-right:105px;}
.file-input .input-file {position:absolute; top:0; left:0; width:100%; height:38px; opacity:0; z-index:50; cursor:pointer;}
.file-input .read-file {width:100%; text-decoration:underline;}
.file-input > a,
.file-input > button,
.file-input > input[type=submit] {position:absolute; top:0; right:0; width:95px; min-width:95px; padding:0; text-align:center;}
.file-input > a.btn-close {display:block; top:10px; right:105px; min-width:30px; width:52px; height:20px; font-size:0; text-indent:-9999px; background:url('../../images/icon/icon_close01.png') no-repeat center center; overflow:hidden; z-index:51;}
.file-input .thumb {margin-top:10px; background-color:#c8c8c8; background-repeat:no-repeat; background-size:cover; overflow:hidden;} /* 20190305 수정 */
.file-input.single {display:inline-block; padding:0;}
.file-input.single input[type=file] {cursor:pointer;}
.file-input.single input[type=text] {display:none;}
.file-input.single > a,
.file-input.single > button,
.file-input.single > input[type=submit] {position:relative; top:auto; right:auto; width:auto; min-width:0; padding:0 15px;}

.file-input.type-01 {padding:0 285px 0 95px;}
.file-input.type-01 > a,
.file-input.type-01 > button,
.file-input.type-01 > input[type=submit] {right:auto; left:0; width:80px; min-width:80px;}
.file-input.type-01 input[type=text] {padding:0; color:#666; font-size:14px; text-decoration:none; border:none;}
.file-input.type-01 .add-info {position:absolute; top:0; right:0; color:#999; font-size:14px; line-height:38px;}

.add-input {margin-top:10px;}
.add-input:first-child {margin-top:0;}

.add-file {position:relative; padding-right:98px; overflow:hidden;}
.add-file .file_info {margin-left:20px; padding:3px 0; overflow:hidden;}
.add-file .file_info > div {float:left;}
.add-file .file_info .data_info {color:#999; font-size:13px; line-height:26px;}
.add-file .btn-ui {position:absolute; top:0; right:0;width:83px; overflow:hidden;}
.add-file .btn-ui > a {position:relative; float:left; display:block; width:50%; height:38px; margin-left:-1px; background:#f4f4f4; border:1px solid #b6b6b6; box-sizing:border-box;}
.add-file .btn-ui > a:first-child {margin-left:0;}
.add-file .btn-ui > a:last-child {}
.add-file .btn-ui > a.btn-add:before {content:''; position:absolute; top:50%; left:50%; width:2px; height:14px; margin:-7px 0 0 -1px; background:#222;}
.add-file .btn-ui > a.btn-add:after {content:''; position:absolute; top:50%; left:50%; width:14px; height:2px; margin:-1px 0 0 -7px; background:#222;}
.add-file .btn-ui > a.btn-del:after {content:''; position:absolute; top:50%; left:50%; width:14px; height:2px; margin:-1px 0 0 -7px; background:#222;}

.add-text {position:relative; padding-right:98px; overflow:hidden;}
.add-text .btn-ui {position:absolute; top:0; right:0;width:83px; overflow:hidden;}
.add-text .btn-ui > a {position:relative; float:left; display:block; width:50%; height:38px; margin-left:-1px; background:#f4f4f4; border:1px solid #b6b6b6; box-sizing:border-box;}
.add-text .btn-ui > a:first-child {margin-left:0;}
.add-text .btn-ui > a.btn-add:before {content:''; position:absolute; top:50%; left:50%; width:2px; height:14px; margin:-7px 0 0 -1px; background:#222;}
.add-text .btn-ui > a.btn-add:after {content:''; position:absolute; top:50%; left:50%; width:14px; height:2px; margin:-1px 0 0 -7px; background:#222;}
.add-text .btn-ui > a.btn-del:after {content:''; position:absolute; top:50%; left:50%; width:14px; height:2px; margin:-1px 0 0 -7px; background:#222;}

.file-upload {position:relative; padding-right:40px;}
.file-upload .btn-del {position:absolute; top:0; right:0; display:inline-block; padding:4px 0;}
.file-upload .title {position:absolute; top:0; left:0; line-height:38px;}
.file-upload.type-02 {padding-left:70px;}
.file-upload.none {opacity:0.5;}
.file-upload.none:after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:50;}

.background-select {}
.background-select .background-obj {display:inline-block; width:20px; height:20px; border-radius:2px;}
.background-select .radio-type01 {margin:0 30px 0 10px;}

.file-list {margin-top:-10px; overflow:hidden;}
.file-list li {float:left; margin:10px 20px 0 0; padding-left:25px; background:url('../../images/icon/icon_file.png') no-repeat 0 2px;}

/* 멀티 파일 첨부 */
.imgs_wrap a:first-child {margin-top:20px;}
.imgs_wrap a {display:block; position:relative; margin:10px 0; padding:0 0 0 25px; color:#666; font-size:14px; line-height:20px;}
.imgs_wrap a img {margin-left:10px;}
.imgs_wrap a:before {content:''; position:absolute; top:50%; left:0; width:15px; height:17px; margin:-7px 0 0 -1px; background:url('../../images/icon/icon_file.png') no-repeat 0 0;}

/* 글자색 선택 */
.font-color-select {margin-top:30px;}
.font-color-select .title {color:#666; font-size:16px;}
.font-color-select .font-color-select-list {margin-top:15px;}
.font-color-select .font-color-select-list > ul {margin:-5px;}
.font-color-select .font-color-select-list > ul:after {content:''; display:block; clear:both;}
.font-color-select .font-color-select-list > ul > li {float:left; padding:5px; box-sizing:border-box;}
.font-color-select .font-color-check {position:relative; width:30px; height:30px;}
.font-color-select .font-color-check input[type=radio] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; filter:alpha(opacity=0);}
.font-color-select .font-color-check input[type=radio] + label {position:relative; display:inline-block; width:30px; height:30px; border:1px solid #ccc; box-sizing:border-box;}
.font-color-select .font-color-check input[type=radio] + label:before {content:''; position:absolute; top:50%; left:50%; display:block; width:38px; height:38px; margin:-19px 0 0 -19px; border:2px solid #222; box-sizing:border-box; opacity:0; filter:alpha(opacity=0);}
.font-color-select .font-color-check input[type=radio]:checked + label:before {opacity:1; filter:alpha(opacity=100);}

pre {display:block; padding:15px; color:#222; font-family:Noto Sans CJK KR , 'Noto Sans', 'Malgun Gothic', dotum, gulim, verdana, sans-serif; font-size:14px; line-height:20px; border:1px solid #d6d6d6; overflow:auto; box-sizing:border-box;}

/* 배경 효과선택 */
.background-color-select {margin-top:30px;}
.background-color-select .title {color:#666; background-size:16px;}
.background-color-select .background-color-select-list {margin-top:15px;}
.background-color-select .background-color-select-list > ul {margin:-5px;}
.background-color-select .background-color-select-list > ul:after {content:''; display:block; clear:both;}
.background-color-select .background-color-select-list > ul > li {float:left; padding:5px; box-sizing:border-box;}
.background-color-select .background-color-check {position:relative; width:54px; height:54px;}
.background-color-select .background-color-check input[type=radio] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; filter:alpha(opacity=0);}
.background-color-select .background-color-check input[type=radio] + label {position:relative; display:inline-block; width:54px; height:54px; border:1px solid #ccc; box-sizing:border-box; font-size:13px; line-height:15px; text-align:center; background-repeat:repeat; background-position:center center;}
.background-color-select .background-color-check input[type=radio] + label:before {content:''; position:absolute; top:50%; left:50%; display:block; width:62px; height:62px; margin:-31px 0 0 -31px; border:2px solid #222; box-sizing:border-box; opacity:0; filter:alpha(opacity=0);}
.background-color-select .background-color-check input[type=radio]:checked + label:before {opacity:1; filter:alpha(opacity=100);}

/* col mulity input */
.col-mulity-input {}
.col-mulity-input > li {position:relative; margin-top:10px;}
.col-mulity-input > li > * {}
.col-mulity-input > li:first-child {margin-top:0;}

/* img check */
.img-check {position:relative;}
.img-check input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; z-index:5; cursor:pointer;}
.img-check input + label {opacity:0.3; cursor:pointer;}
.img-check input:checked + label {opacity:1;}

/* img txt check */
.img-txt-check {position:relative; text-align:center;}
.img-txt-check input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; z-index:5; cursor:pointer;}
.img-txt-check input + label { color:#999; font-size:13px; text-align:center;}
.img-txt-check input + label span {display:block;}
.img-txt-check input + label img {display:inline-block; opacity:0.3; cursor:pointer;}
.img-txt-check input:checked + label {color:#222;}
.img-txt-check input:checked + label img{opacity:1;}

/* 답글 */
.cbox-write-wrap {position:relative; margin-top:40px;}
.cbox-write-wrap .cbox-upload {margin-top: -1px; line-height:48px; text-align:right; border:1px solid #d6d6d6;}
.cbox-write-wrap .cbox-upload span {color:#8c8c8c;}
.cbox-write-wrap .cbox-upload strong {color:#222;}
.cbox-write-wrap .cbox-upload button {height:50px; margin:0 -1px -1px 20px; line-height:48px;}

.cbox-write-list {margin-top:40px;}
.cbox-write-list > ul > li {position:relative; padding:20px; border:1px solid #dcdcdc;}
.cbox-write-list > ul > li + li {margin-top:-1px;}
.cbox-write-list .cbox-txt {color:#222; font-size:14px; line-height:22px;}
.cbox-write-list .cbox-txt .ico-new {display:inline-block; margin:3px 0 0 10px;}
.cbox-write-list .cbox-date {margin-top:15px; color:#999; font-size:13px;}
.cbox-write-list .cbox-date span {font-size:12px;}
.cbox-write-list .cbox-user {position:relative; margin-right:10px; padding-right:10px;}
.cbox-write-list .cbox-user a:hover {text-decoration:underline;}
.cbox-write-list .cbox-user:before {content:''; position:absolute; top:50%; right:0; display:block; width:1px; height:10px; margin-top: -5px; background:#d6d6d6;}
.cbox-write-list .cbox-file {height:52px; margin:20px -20px -20px -20px; padding:15px 20px; background:#f9f9f9; box-sizing:border-box;}
.cbox-write-list .cbox-file > li {display:inline-block; margin-right:20px; padding-left:25px; line-height:20px; background:url(../../images/icon/icon_file.png) no-repeat 0 2px;}
.cbox-write-list .cbox-btn {position:absolute; top:20px; right:20px;}
.cbox-write-list .cbox-btn .btn-01 {min-width:54px; height:28px; line-height:26px; padding:0 10px; font-size:13px; box-sizing:border-box;}

/* ▼▼▼ 20190502 (모바일 추가) ▼▼▼ */
@media screen and (max-width:1024px){

	input[type=text],
	input[type=number],
	input[type=email],
	input[type=tel],
	input[type=url],
	input[type=password]	{-webkit-appearance: none; -moz-appearance: none; appearance: none; width:100% !important; min-width:0; max-width:100%; height:40px; padding:0 15px; font-size:15px;}
	textarea						{-webkit-appearance: none; -moz-appearance: none; appearance: none; width:100% !important; height:100px; padding:15px; font-size:15px; line-height:1.53;}
	select						{-webkit-appearance: none; -moz-appearance: none; appearance: none; width:100% !important; min-width:50px; max-width:100%; height:40px; padding:5px 50px 5px 15px; font-size:15px; line-height:1; background-image:url(../../images/util/select_arrow_x02.gif); background-size:40px auto;}

	input:-webkit-autofill{-webkit-box-shadow: 0 0 0 40px #efefef inset;-webkit-text-fill-color: #333}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

	/* ===========================
		01. checkbox
	=========================== */
	.check-type01 {margin-right:10px;}
	.check-type01 input[type=checkbox] + label {padding-left:27px;}
	.check-type01 input[type=checkbox] + label span {background-image:url(../../images/icon/icon_checkbox_x02.png); background-size:18px auto;}


	/* ===========================
		02. radio
	=========================== */
	.radio-type01 {margin-right:10px;}
	.radio-type01 input[type=radio] + label {padding-left:27px;}

	.date-input > img {width:38px; height:38px; margin-top:-19px;}

	.file-list li {background:url('../../images/icon/icon_file_x02.png') no-repeat 0 2px; background-size:15px auto;}

	.input-btns {display:flex;}
	.input-btns input + a {white-space:nowrap; flex:0 0 auto;}
	.input-btns input ~ span {flex:1; white-space:nowrap;}
	.input-btns .date-input {flex:1;}
	.input-btns .right-check {flex:1 1 100%;}

	.date-input {display:block;}
	.date-input-wrap {display:block; display:flex;}
	.date-input-wrap .cell {flex:1;}
	.date-input-wrap .cell:nth-child(2):before {font-size:14px; line-height:40px;}

	.input-flex-info {display:block; margin:5px 0 0 0; font-size:14px; line-height:18px;}
	.input-block-info {display:block; margin:5px 0 0 0; font-size:14px; line-height:18px;}

	/* input + input */
	.row-input-wrap {display:flex; margin:0; line-height:1; flex-wrap:wrap;}
	.row-input-wrap > div {float:none; padding:0; box-sizing:border-box; flex:1 1 100%; margin-top:10px; display:flex;}
	.row-input-wrap > div:first-child {margin-top:0;}
	.row-input-wrap .check-type01,
	.row-input-wrap .radio-type01 {margin-top:8px;}

	.row-mulity-input {line-height:38px;}
	.row-mulity-input > * {margin:10px 0 0 0}
	.row-mulity-input > *:first-child {margin-top:0;}

	.phone-wrap {display:flex;}
	.phone-wrap select {width:100px; min-width:100px;}
	.phone-wrap input {width:90px; min-width:90px; text-align:center;}
	.phone-wrap > div {position:relative; float:left;}
	.phone-wrap .second,
	.phone-wrap .three {flex:1; padding-left:20px;}
	.phone-wrap .second:after,
	.phone-wrap .three:after {content:'-'; position:absolute; top:0; left:0; display:block; width:20px; height:34px; color:#666; font-size:15px; line-height:34px; text-align:center;}
	.phone-wrap + .input-btns {margin:10px 0 !important;}

	.address-wrap {max-width:100%}
	.address-wrap > p {margin-top:10px;}
	.address-wrap > p:first-child {margin-top:0;}
	.address-wrap .zip-code {position:relative; padding-right:120px;}
	.address-wrap .zip-code input{margin-right:10px;}
	.address-wrap .zip-code > a {position:absolute; top:0; right:0; width:110px; min-width:0;}

	.email-wrap {max-width:100%;}
	.email-wrap > p {position:relative; float:left; box-sizing:border-box;}
	.email-wrap .email-name {width:50%}
	.email-wrap .email-address {width:50%;}
	.email-wrap .email-select {width:100%; padding-left:0; margin-top:10px;}

	.file-input > a.btn-close {background:url('../../images/icon/icon_close01_x02.png') no-repeat center center; background-size:12px auto;}
	.file-parent {width:100% !important;}

	.cbox-write-list {margin-top:40px;}
	.cbox-write-list .cbox-date {margin-top:5px;}
	.cbox-write-list .cbox-txt {padding-right:65px;}
	.cbox-write-list .cbox-user {position:relative; margin-right:10px; padding-right:10px;}
	.cbox-write-list .cbox-user a:hover {text-decoration:underline;}
	.cbox-write-list .cbox-user:before {content:''; position:absolute; top:50%; right:0; display:block; width:1px; height:10px; margin-top: -5px; background:#d6d6d6;}
	.cbox-write-list .cbox-file {min-height:52px; height:auto; margin:20px -20px -20px -20px; padding:15px 20px; background:#f9f9f9; box-sizing:border-box;}
	.cbox-write-list .cbox-file > li {display:inline-block; margin-right:20px; padding-left:25px; line-height:20px; background:url(../../images/icon/icon_file.png) no-repeat 0 2px;}
	.cbox-write-list .cbox-btn {position:absolute; top:20px; right:20px;}
	.cbox-write-list .cbox-btn .btn-01 {min-width:54px; height:28px; line-height:26px; padding:0 10px; font-size:13px; box-sizing:border-box;}
	.cbox-write-list .cbox-txt .ico-new {margin-left:5px;}

	.cbox-write-wrap .cbox-upload {margin-top: -1px; line-height:48px; text-align:right; border:1px solid #d6d6d6;}
	.cbox-write-wrap .cbox-upload span {color:#8c8c8c;}
	.cbox-write-wrap .cbox-upload strong {color:#222;}
	.cbox-write-wrap .cbox-upload button {height:50px; margin:0 -1px -1px 0; line-height:48px;}
	.cbox-write-wrap .cbox-write-total {position:absolute; bottom:100%; right:0;}

}
/* ▲▲▲ 20190502 (모바일 추가) ▲▲▲ */
