@charset "utf-8";
/*==============================================

    ----------------------------------------------------------------
	* Date			:	2019.01.01
	* Modify		:
	* Name			:	form.css
	----------------------------------------------------------------

	- Description -

	00. common			:	전체 공통사항
	01. checkbox		:	checkbox 요소
	02. radio			:	radio 요소
	03. form			:	form 요소

==============================================*/


/* ===========================
	00. common
=========================== */
input[type=text],
input[type=number],
input[type=email],
input[type=password] {display:inline-block; width:95px; min-width:95px; max-width:100%; height:40px; padding:0 20px; color:#666; font-size:15px; font-family:'Noto Sans'; border:1px solid #d3d3d3; background-color:#fff; outline:0; box-sizing:border-box; vertical-align:top;transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); -webkit-transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
textarea {display:inline-block; width:100%; padding:15px 20px; color:#666; font-size:15px; font-family:'Noto Sans'; line-height:20px; border:1px solid #d3d3d3; overflow:auto; resize:none; vertical-align:top; box-sizing:border-box; outline:none; transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); -webkit-transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
select {display:inline-block; width:100px; max-width:100%; height:40px; padding:10px 20px; color:#666; font-size:15px; font-family:'Noto Sans'; line-height:1; border:1px solid #d3d3d3; background-color:#fff; background-image:url('../../images/util/select_arrow_02.png'); background-position:right 20px center; background-repeat:no-repeat;box-sizing:border-box; text-indent:0.01px; outline:none; -webkit-appearance: none; -moz-appearance:none; appearance: none; vertical-align:top;}
select::-ms-expand {display:none;}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
input[type=text].active,
input[type=number].active,
input[type=email].active,
input[type=password].active,
textarea.active {color:#333; border-color:#333; background-color:#fff;}
input.bnone {border:0;}

::-webkit-input-placeholder	{color: #646464;}
::-moz-placeholder				{color: #646464;}
:-ms-input-placeholder			{color: #646464;}
:-moz-placeholder				{color: #646464;}

*::selection {color:#fff; background-color:#4d750d;}
*::-moz-selection {color:#fff; background-color:#4d750d;}

button,
input[type=file],
input[type=image],
input[type=reset],
input[type=button],
input[type=submit] {font-family:'Noto Sans'; border:none; background:none; border-radius:0; cursor:pointer; -webkit-appearance:none; appearance:none;}
button:focus,
button:hover {outline:none;}

.date-input {position:relative; display:inline-block;}
.date-input > img {position:absolute; top:50%; right:1px; width:40px; height:38px; margin-top:-19px; background-color:#f2f2f2; cursor:pointer;}
.date-input-wrap {position:relative; display:inline-block; padding-right:80px; overflow:hidden;}
.date-input-wrap > a,
.date-input-wrap > button,
.date-input-wrap > input[type=submit] {position:absolute; top:0; right:0; width:70px; min-width:70px; padding:0;}
.date-input-wrap .cell {position:relative; float:left;}
.date-input-wrap .cell:nth-child(2) {padding-left:20px;}
.date-input-wrap .cell:nth-child(2):before {content:'~'; position:absolute; top:0; left:0; display:block; width:20px; height:34px; color:#666; font-size:15px; line-height:34px; text-align:center;}


/* ===========================
	01. checkbox
=========================== */
.chk-type01 {position:relative; display:inline-block; margin-right:17px; height:22px; line-height:22px;}
.chk-type01 input[type=checkbox] {position:absolute; top:0; left:0; width:0; height:0; opacity:0; filter:alpha(opacity=0);}
.chk-type01 input[type=checkbox] + label {display:inline-block; color:#666; font-size:14px; line-height:22px; cursor:pointer;}
.chk-type01 input[type=checkbox] + label span {display:inline-block; width:22px; height:22px; margin-right:10px; border:1px solid #a3a3a3; background-color:#fff; background-image:url('../../images/icon/ico_chk01.png'); background-repeat:no-repeat; background-position:center -22px; box-sizing:border-box;}
.chk-type01 input[type=checkbox]:checked + label span {border-color:#323232; background-position:center center;}


/* ===========================
	02. radio
=========================== */
.radio-type01 {position:relative; display:inline-block; margin-right:17px; height:22px; line-height:22px;}
.radio-type01 input[type=radio] {position:absolute; top:0; left:0; width:0; height:0; opacity:0; filter:alpha(opacity=0);}
.radio-type01 input[type=radio] + label {display:inline-block; color:#666; font-size:14px; line-height:22px; cursor:pointer;}
.radio-type01 input[type=radio] + label span {position:relative; display:inline-block; width:22px; height:22px; margin-right:10px; border:1px solid #c8c8c8; background-color:#fff; box-sizing:border-box; border-radius:11px; transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); -webkit-transition:all 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);}
.radio-type01 input[type=radio] + label span:after {content:''; position:absolute; top:50%; left:50%; display:block; width:0; height:0; margin-top:0; margin-left:0; background-color:#fff; border-radius:5px; transition:all 0.2s ease-out; -webkit-transition:all 0.2s ease-out;}
.radio-type01 input[type=radio]:checked + label span {border-color:#333;}
.radio-type01 input[type=radio]:checked + label span:after {width:10px; height:10px; margin-top:-5px; margin-left:-5px; background-color:#333;}

/* ===========================
	03. form
=========================== */

/* input + input */
.multi-input-wrap {display:inline-block; line-height:38px; overflow:hidden;}
.multi-input-wrap > div {float:left; margin-right:10px;}
.multi-input-wrap .txt {display:inline-block; color:#666; font-size:15px; font-weight:300; line-height:40px;}
.multi-input-wrap .chk-type01,
.multi-input-wrap .radio-type01 {margin-top:8px;}

/* 전화번호 및 휴대폰 */
.phone-wrap {display:inline-block; overflow:hidden;}
.phone-wrap select {width:100px; min-width:100px;}
.phone-wrap input {width:110px; min-width:110px; text-align:center;}
.phone-wrap > div {position:relative; float:left;}
.phone-wrap .second,
.phone-wrap .three {padding-left:10px;}

/* 이메일 입력 */
.email-wrap {max-width:640px; overflow:hidden;}
.email-wrap > p {position:relative; float:left; box-sizing:border-box;}
.email-wrap select,
.email-wrap input {width:100%; min-width:0;}
.email-wrap .email-name {width:28%}
.email-wrap .email-address {width:34%; padding-left:30px;}
.email-wrap .email-address:after {content:'@'; position:absolute; top:0; left:0; display:block; width:30px; height:40px; color:#666; font-size:15px; line-height:38px; text-align:center;}
.email-wrap .email-select {width:38%; padding-left:10px;}

/* 파일 업로드 */
.file-box{position:relative;}
.file-box .file-name{width:650px;}
.file-box .btn {float:right;}
.file-box input[type="file"]{overflow:hidden;position:absolute;width:1px;height:1px;padding:0;margin:-1px;clip:rect(0,0,0,0);border:0;}
.file-box .del{display:none;position:absolute;right:115px;top:13px;width:16px;height:16px;margin-left:5px;background:url('../../images/common/btn_del_01.png') no-repeat 0 0;text-indent:-9999px;}
.file-box .del.on{display:block;}

/* 우편번호 검색 */
.address-wrap .zip-code input {width:calc(100% - 128px);}
.address-wrap .zip-code .btn {float:right;}
.address-wrap p input {width:100%;}
.address-wrap p + p{margin-top:10px;}

/* 카드 번호 */
.card-num-input {overflow:hidden;}
.card-num-input > div {position:relative; float:left; padding-left:24px;}
.card-num-input > div:first-child {padding-left:0;}
.card-num-input > div:first-child:after {display:none;}
.card-num-input > div:after {content:''; position:absolute; top:50%; left:10px; display:block; width:4px; height:1px; background-color:#333;}
.card-num-input input[type=text] {height:48px; font-size:17px; text-align:center;}
.card-num-input a,
.card-num-input button,
.card-num-input input[type=submit] {float:left; width:120px; margin-left:10px;}
