@charset "utf-8";

/* sprite image */

/* 공통 */


/* 회사소개 */
.company .phomein_title {padding-bottom:40px;text-align:center;}
.company .phomein_title h4 {color:#222;font-size:38px;line-height:1;}
.company .phomein_title h4 em {font-weight:500;}
.company .phomein_title .desc {padding-top:10px;color:#999;font-size:12px;line-height:18px;font-family:'roboto';letter-spacing:0;}
.company .phomein_title:after {content:'';display:inline-block;margin-top:30px;width:100px;height:42px;background:url(../images/content/logo_phomein.png) no-repeat;background-size:100px auto;}
.company .phomein_intro {position:relative;margin:0 -20px -75px;;padding-top:60px;background:#fafafa;text-align:center;}
.company .phomein_intro:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.company .phomein_intro .txt1 {color:#546220;font-size:15px;line-height:22px;font-weight:500;}
.company .phomein_intro .txt2 {padding-top:20px;font-size:12px;line-height:18px;}
.company .phomein_intro .img {padding-top:50px; margin-bottom:-147px;}
.company .phomein_intro .img img {width:100%;}

/* ceo 인사말 */
.company .ceo_title {padding-bottom:60px;text-align:center;}
.company .ceo_title h4 {color:#222;font-size:38px;line-height:1;}
.company .ceo_title h4 em {font-weight:500;}
.company .ceo_title .desc {padding-top:20px;color:#333;font-size:15px;line-height:18px;font-weight:500;}
.company .ceo_intro {position:relative;margin:0 -20px -123px;;padding:45px 0 80px 0;background:#fafafa;text-align:center;}
.company .ceo_intro:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.company .ceo_intro .txt01 {color:#666;font-size:12px;line-height:20px;}
.company .ceo_intro .txt02 {margin:20px 0; color:#546220;font-size:17.5px;line-height:24px;font-weight:500;}
.company .ceo_intro .txt03 {color:#666;font-size:12px;line-height:20px;}
.company .ceo_intro .txt04 {height:50px; margin-top:30px; color:#666;font-size:12px;background-image:url('../images/content/ceo_img02_m.jpg'); background-size:200px; background-repeat:no-repeat; background-position:center bottom;}

.company .family_title {padding-bottom:40px;text-align:center;}
.company .family_title h4 {color:#222;font-size:38px;line-height:1;}
.company .family_title h4 em {font-weight:500;}
.company .family_title .desc {padding-top:10px;color:#999;font-size:12px;line-height:18px;font-family:'roboto';letter-spacing:0;}
.company .family_title:after {content:'';display:inline-block;margin-top:33px;width:63px;height:83px;background:url(../images/content/logo_brownsugar.png) no-repeat;background-size:63px auto;}
.company .family_intro {position:relative;margin:0 -20px -75px;text-align:center;}
.company .family_intro:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.company .family_intro .con {padding-bottom:27%;background:#eee url(../images/content/bg_family.gif) no-repeat center bottom;background-size:100% auto;}
.company .family_intro h5 {padding-top:60px;color:#633c21;font-size:24px;line-height:1;font-weight:bold;}
.company .family_intro em {display:block;padding-top:10px;color:#633c21;font-size:12px;line-height:1;}
.company .family_intro .txt {padding-top:25px;font-size:15px;line-height:22px;}
.company .family_intro .btn_link {display:inline-block;height:40px;line-height:40px;margin-top:30px;padding:0 31px;background:#333;color:#fff;font-size:12px;}
.company .family_intro .img img {width:100%;}
.company .dailyking .tit_area {padding-bottom:65px;text-align:center;}
.company .dailyking .tit_area h4 {width:232px;height:33px;margin:5px auto;background:url(../images/content/logo_dailyking.png) no-repeat;background-size:auto 33px;}
.company .dailyking .intro {position:relative;margin:0 -20px -75px;padding-bottom:75px;background:#fafafa;text-align:center;}
.company .dailyking .intro:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.company .dailyking .intro .txt1 {padding:55px 20px 0 20px;color:#333;font-size:15px;line-height:22px;font-weight:500;}
.company .dailyking .intro .txt2 {padding:23px 20px 0 20px;font-size:12px;line-height:18px;}
.company .dailyking .intro .txt3 {position:relative;padding:55px 18px 75px;}
.company .dailyking .intro .txt3:before {content:'';display:block;position:absolute;top:80px;left:0;right:0;height:1px;background:#c8c8c8;z-index:0;}
.company .dailyking .intro .con ul {padding:0 15.2%;}
.company .dailyking .intro .con li {padding-top:20px;}
.company .dailyking .intro .con li div {padding:36.8% 0 38%;background-repeat:no-repeat;background-position:center;background-size:cover;}
.company .dailyking .intro .con li:nth-child(1) div {background-image:url(../images/content/img_dailyking_1.jpg);}
.company .dailyking .intro .con li:nth-child(2) div {background-image:url(../images/content/img_dailyking_2.jpg);}
.company .dailyking .intro .con li:nth-child(3) div {background-image:url(../images/content/img_dailyking_3.jpg);}
.company .dailyking .intro .con li strong, .company .dailyking .intro .con li em {display:block;line-height:1;}
.company .dailyking .intro .con li div strong {color:#fff;font-size:80px;font-weight:300;}
.company .dailyking .intro .con li div em {padding-top:40px;color:#aa8f63;font-size:15px;}
.company .dailyking .intro .con li div p {padding-top:15px;color:#fff;font-size:12px;line-height:18px;opacity:0.8;}

/* 20190527 추가 s */
.company .dailyking .rice-noodle {margin:50px 0 25px 0;}
.company .dailyking .rice-noodle .tit {margin-bottom:50px;color:#546222;font-size:25px;font-weight:500;}
.company .dailyking .rice-noodle .img img {width:194px;}
.company .dailyking .rice-noodle .txt {margin:20px 0 30px 0;color:#333;font-size:12px;font-weight:500;}
.company .dailyking .pho-season {height:210px;margin:60px -20px -147px;background:url(../images/content/dailyking_bottom_visual.jpg) no-repeat center;background-size:cover;text-align:center;}
.company .dailyking .pho-season span {display:block;padding-top:46px;color:#fff;font-size:24px;line-height:32px;}
.company .dailyking .pho-season span em {color:#c99963;font-weight:500;}
.company .dailyking .pho-season .btn-pho-season {display:inline-block;width:130px;margin-top:20px;border-bottom:#fff 2px solid;background:url(../images/content/arr_about.png) no-repeat 100% 10px;background-size:10px auto;color:rgba(255,255,255,0.6);font-size:12px;font-weight:500;line-height:29px;text-align:left;}
/* //20190527 추가 e */

.company .location .tit_area {padding-bottom:25px;}
.company .location .map_area {padding-bottom:30px;}
.company .location .table_data ul {margin:-8px 0;}
.company .location .table_data li {display:block;margin:8px 0;font-size:12px;line-height:18px;}
.company .location .table_data li:nth-child(1) {margin-left:47px;text-indent:-47px;}
.company .location .table_data li:nth-child(2) {margin-left:37px;text-indent:-37px;}
.company .location .table_data li:nth-child(3) {margin-left:47px;text-indent:-47px;}
.company .location .table_data li > strong em {margin:0 6px;}
.company .location .table_data li > span {display:block;margin-left:30px;text-indent:-30px;}
.company .location .table_data li > span strong {margin-right:7px;}

/* 연구개발 */
.rnd .phoseason .tit_area {padding-bottom:75px;text-align:center;}
.rnd .phoseason .tit_area h4 {margin-top:5px;font-size:38px;}
.rnd .phoseason .intro {position:relative;height: 100px;margin:0 -20px;padding:55px 0;background:url(../images/content/bg_phoseason.jpg) center;background-size:cover;text-align:center;}
.rnd .phoseason .intro:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.rnd .phoseason .intro_text {text-align:center; margin:0 -20px; padding:25px 0;}
.rnd .phoseason .intro_text strong {color:#546222;font-size:24px;line-height:1;font-weight:500;}
.rnd .phoseason .intro_text p {padding:20px 0 5px;color:#333;font-size:13px;line-height:18px;}
.rnd .phoseason .factory_img > img {width: 100%; margin-top:10px;}
.rnd .phoseason .cont {position:relative;margin:0 -20px -75px;padding:45px 0 75px;background:#fafafa;text-align:center;}
.rnd .phoseason .cont > strong {color:#546222;font-size:24px;line-height:30px;}
.rnd .phoseason .cont > strong em {font-weight:500;}
.rnd .phoseason .cont > p {padding:15px 0 5px;font-size:12px;line-height:17px;}
.rnd .phoseason .cont li {padding:20px 20px 0;}
.rnd .phoseason .cont li div {padding-bottom:30px;background:#fff;overflow:auto;}
.rnd .phoseason .cont li:nth-child(2) div {padding-bottom:35px;}
.rnd .phoseason .cont li:nth-child(3) div {padding-bottom:40px;}
.rnd .phoseason .cont li:nth-child(4) div {padding-bottom:40px;}
.rnd .phoseason .cont li div:before {content:'';display:block;background-image:url(../images/content/ico_phoseason.png);background-repeat:no-repeat;background-size:100px auto;}
.rnd .phoseason .cont li:nth-child(1) div:before {width:99px;height:70px;margin:30px auto 15px;background-position:0 0;}
.rnd .phoseason .cont li:nth-child(2) div:before {/*width:75px;height:75px;*/width:99px;height:70px;margin:35px auto 15px;background-position:0 -85px;}
.rnd .phoseason .cont li:nth-child(3) div:before {/*width:71px;height:71px;*/width:99px;height:70px;margin:35px auto 15px;background-position:0 -175px;}
.rnd .phoseason .cont li:nth-child(4) div:before {/*width:74px;height:71px;*/width:99px;height:70px;margin:35px auto 15px;background-position:0 -260px;}
.rnd .phoseason .cont li:nth-child(5) div:before {/*width:70px;*/width:99px;height:70px;margin:35px auto 20px;background-position:0 -345px;}
.rnd .phoseason .cont li div strong {color:#333;font-size:15px;line-height:1;font-weight:500;}
.rnd .phoseason .cont li div p {padding-top:10px;font-size:12px;line-height:18px;}
.rnd .mou .tit_area {padding-bottom:65px;}
.rnd .mou .content {position:relative;margin:0 -20px -75px;padding:55px 12.5% 90px;background:url(../images/content/bg_mou.jpg) no-repeat center 0;background-size:cover;}
.rnd .mou .content:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.rnd .mou .content .txt1 {color:#d4c7b1;font-size:15px;line-height:20px;font-weight:500;}
.rnd .mou .content .txt2 {padding-top:45px;color:#fff;}
.rnd .mou .content .txt2 strong {font-size:24px;line-height:1;font-weight:500;}
.rnd .mou .content .txt2 span {display:block;padding-top:15px;font-size:12px;line-height:18px;opacity:0.6;}
.rnd .mou .content .img {padding-top:25px;}
.rnd .mou .content .img img {width:186px;}
@media all and (max-width:359px) {
	.rnd .mou .content {padding-left:7%;padding-right:7%;}
}
.rnd .education .tit_area {padding-bottom:65px;}
.rnd .education .tit_area .desc {max-width:320px;}
.rnd .education .content {position:relative;margin:0 -20px -75px;padding:55px 20px 75px;background:#fafafa;text-align:center;}
.rnd .education .content:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.rnd .education .content h5 {color:#546222;font-size:24px;line-height:30px;font-weight:500;}
.rnd .education .content .txt {padding:15px 0 30px;font-size:12px;line-height:18px;}
.rnd .education .content .swiper_slide img {width:100%;}

/* 가맹개설정보 */
.franchisee .status, .franchisee .system, .franchisee .step {margin:-40px -20px -75px;background:#fafafa;text-align:center;}
.franchisee .nav_cate {padding:12px 0 22px;border-bottom:none;background:#fff;}
.franchisee .cont .list {padding:10px 0 75px;}
.franchisee .cont .list li {padding:32px 20px 0;}
.franchisee .cont .list li > div {position:relative;padding:45px 0 40px;border:#d2d2d2 1px solid;background:#fff;}
.franchisee .cont .list li > div:before {content:'';display:block;background-repeat:no-repeat;}
.franchisee .cont .list li > div em {display:block;position:absolute;top:-13px;left:50%;width:40px;height:25px;line-height:23px;margin-left:-20px;color:#fff; border:#444 1px solid;background:#444;box-sizing:border-box;border-radius:24px;font-size:12px;font-weight:500;}
.franchisee .cont .list li > div strong {color:#333;font-size:20px;line-height:1;font-weight:500;}
.franchisee .cont .list li > div p {padding-top:10px;font-size:12px;line-height:18px;}
.franchisee .status {padding-bottom:75px;}
.franchisee .status .intro {padding:17.2% 0 18.2%;background:url(../images/content/bg_status_intro.jpg) no-repeat center;background-size:cover;}
.franchisee .status .intro strong {display:block;color:#d5c7b1;font-size:24px;line-height:30px;font-weight:500;}
.franchisee .status .intro p {padding-top:24px;color:#fff;font-size:12px;line-height:18px;opacity:0.8;}
.franchisee .status .history {position:relative;}
.franchisee .status .history:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.franchisee .status .history .title {padding:60px 0 55px;}
.franchisee .status .history .title strong {color:#333;font-size:24px;line-height:30px;}
.franchisee .status .history .title strong em {display:block;font-weight:bold;}
.franchisee .status .history .title p {padding-top:15px;font-size:12px;line-height:18px;}
.franchisee .status .history .con {position:relative;padding:40px 0 73px;background:#fff;}
.franchisee .status .history .con .tit {position:absolute;top:-15px;left:50%;width:95px;height:30px;line-height:30px;margin-left:-47px;background:#546222;border-radius:30px;color:#fff;font-size:12px;font-weight:500;}
.franchisee .status .history .con:before {content:'';display:block;position:absolute;top:20px;bottom:0;left:50%; width:1px;background:#dfdfdf;}
.franchisee .status .history .con li {padding:0 20px;}
.franchisee .status .history .con li:after {content:'';display:block;clear:both;}
.franchisee .status .history .con li > div {position:relative;width:50%;box-sizing:border-box;}
.franchisee .status .history .con li:nth-child(odd) > div {float:left;padding-right:28px;text-align:right;}
.franchisee .status .history .con li:nth-child(even) > div {float:right;padding-left:28px;text-align:left;}
.franchisee .status .history .con li > div:before {content:'';display:block;position:absolute;top:0;width:6px;height:16px;background:#fff;}
.franchisee .status .history .con li:nth-child(odd) > div:before {right:-3px;}
.franchisee .status .history .con li:nth-child(even) > div:before {left:-3px;}
.franchisee .status .history .con li > div em {display:block;color:#546220;font-size:15px;line-height:1;font-weight:500;}
.franchisee .status .history .con li > div p {padding-top:5px;font-size:12px;line-height:18px;word-break:keep-all;}
.franchisee .status .history .con li > div em:before,
.franchisee .status .history .con li > div em:after {content:'';display:block;position:absolute;}
.franchisee .status .history .con li > div em:before {top:8px;width:21px;height:1px;background:#999;}
.franchisee .status .history .con li > div em:after {top:5px;width:6px;height:6px;background:#546222;border-radius:100%;}
.franchisee .status .history .con li:nth-child(odd) > div em:before {right:-4px;}
.franchisee .status .history .con li:nth-child(even) > div em:before {left:-3px;}
.franchisee .status .history .con li:nth-child(odd) > div em:after {right:-4px;}
.franchisee .status .history .con li:nth-child(even) > div em:after {left:-3px;}
.franchisee .status .profit .title {padding:15.4% 0 49.4%;background:url(../images/content/bg_status_profit.jpg) no-repeat center;background-size:cover;}
.franchisee .status .profit .title strong {display:block;color:#fff;font-size:24px;line-height:30px;font-weight:500;}
.franchisee .status .profit .title p {padding-top:11px;color:#fff;font-size:12px;line-height:18px;opacity:0.6;}
.franchisee .status .profit .top_honor {margin-top:-41%;}
.franchisee .status .profit .top_honor li {padding:60px 20px 0;}
.franchisee .status .profit .top_honor li > div {position:relative;padding:50px 0 28px;background:#fff;border:#e7e7e7 1px solid;}
.franchisee .status .profit .top_honor li > div:before {content:'';display:block;position:absolute;top:-43px;left:50%;width:57px;height:77px;margin-left:-28px;background:url(../images/content/ico_status_honor.png) no-repeat;background-size:auto 77px;}
.franchisee .status .profit .top_honor li > div em {display:block;color:#333;font-size:20px;line-height:24px;font-weight:500;}
.franchisee .status .profit .top_honor li > div p {padding-top:8px;font-size:12px;line-height:18px;}
.franchisee .status .profit .top_honor .caution {display:block;padding-top:12px;font-size:10px;}
.franchisee .status .profit .con {padding:70px 20px 0;}
.franchisee .status .profit .con strong {display:block;color:#546220;font-size:24px;line-height:30px;font-weight:500;}
.franchisee .status .profit .con p {padding-top:11px;font-size:12px;line-height:18px;}
.franchisee .status .profit .con .swiper_area {position:relative;padding-bottom:24px;}
.franchisee .status .profit .con .swiper {margin-top:30px;padding-bottom:0;background:#fff;-webkit-box-shadow:0 5px 20px 0 rgba(0,0,0,0.1);box-shadow:0 5px 20px 0 rgba(0,0,0,0.1);}
.franchisee .status .profit .con .swiper_btn_next, .franchisee .status .profit .con .swiper_btn_prev {top:auto;bottom:218px;margin:0;}
.franchisee .status .profit .con .swiper_area li {margin-top: 20px; background-color:#fff;}
.franchisee .status .profit .con .swiper_area .thum img {width:100%;}
.franchisee .status .profit .con .swiper_area .cont {padding:30px 25px 30px;box-sizing:border-box;text-align:left;}
.franchisee .status .profit .con .swiper_area .cont .tit {display:block;color:#333;font-size:15px;font-weight:500;}
.franchisee .status .profit .con .swiper_area .cont .txt {padding-top:20px;color:#999;font-size:12px;line-height:18px;word-break:keep-all;}
.franchisee .system .cont .list li > div:before {height:101px;margin:0 auto 22px;background-image:url(../images/content/ico_system.png);background-size:110px auto;}
.franchisee .system .cont .list li:nth-child(1) div:before {width:105px;background-position:0 0;}
.franchisee .system .cont .list li:nth-child(2) div:before {width:106px;background-position:0 -110px;}
.franchisee .system .cont .list li:nth-child(3) div:before {width:100px;background-position:0 -220px;}
.franchisee .system .cont .list li:nth-child(4) div:before {width:88px;background-position:0 -330px;}
.franchisee .system .cont .banner {display:block;margin-bottom:-147px;padding:18.1% 0;background:url(../images/content/bg_system_banner.jpg) no-repeat center;background-size:cover;color:#c99963;font-size:12px;line-height:1;}
.franchisee .system .cont .banner em {display:block;padding-top:10px;color:#fff;font-size:20px;line-height:24px;font-weight:bold;letter-spacing:-0.05em;}
.franchisee .step {padding-bottom:75px;}
.franchisee .step .cont .tit {padding-top:40px;color:#546220;font-size:24px;line-height:1;font-weight:500;}
.franchisee .step .cont .list {padding:5px 0 0;}
.franchisee .step .cont .list li {position:relative;padding:37px 20px 0;}
.franchisee .step .cont .list li:after {content:'';display:block;position:absolute;bottom:-18px;left:50%;width:8px;height:18px;margin-left:-4px;background-image:url(../images/content/arr_step.png);background-size:8px auto;}
.franchisee .step .cont .list li:nth-of-type(10):after {display:none;}
.franchisee .step .cont .list li:last-child:after {display:none;}
.franchisee .step .cont .list li > div {padding:35px 0;}
.franchisee .step .cont .list li > div:before {height:56px;margin:0 auto 20px;background-image:url(../images/content/ico_step.png);background-size:70px auto;}
.franchisee .step .cont .list li:nth-child(1) div:before {width:58px;background-position:0 0;}
.franchisee .step .cont .list li:nth-child(2) div:before {width:64px;background-position:0 -65px;}
.franchisee .step .cont .list li:nth-child(3) div:before {width:57px;background-position:0 -130px;}
.franchisee .step .cont .list li:nth-child(4) div:before {width:53px;background-position:0 -195px;}
.franchisee .step .cont .list li:nth-child(5) div:before {width:60px;background-position:0 -260px;}
.franchisee .step .cont .list li:nth-child(6) div:before {width:59px;background-position:0 -325px;}
.franchisee .step .cont .list li:nth-child(7) div:before {width:55px;background-position:0 -390px;}
.franchisee .step .cont .list li:nth-child(8) div:before {width:60px;background-position:0 -455px;}
.franchisee .step .cont .list li:nth-child(9) div:before {width:58px;background-position:0 -520px;}
.franchisee .step .cont .list li:nth-child(10) div:before {width:58px;background-position:0 -585px;}
.franchisee .step .cont .list li:nth-child(11) div:before {display:none;}
.franchisee .step .cont .list li:nth-child(11) div > a {display:block; width: 100%; height: 100%;}
.franchisee .step .cont .list li > div p {padding-top:3px;}
.franchisee .step .cont .banner {display:block;padding-top:40px;font-size:12px;line-height:1;}
.franchisee .step .cont .banner em {display:block;padding-top:8px;color:#546220;font-size:20px;font-weight:bold;letter-spacing:-0.05em;}
.franchisee .interior .store_list .swiper {margin-bottom:20px;padding-bottom:0;}
.franchisee .interior .store_list .swiper_slide img {width:100%;}
.franchisee .interior .store_list .store {height:45px;line-height:45px;padding-left:20px;background:#333;color:#fff;font-size:15px;font-weight:500;}
.franchisee .interior .store_list .swiper_pagination {bottom:0;left:auto;right:0;width:45px;height:45px;line-height:45px;color:#fff;font-size:12px;font-family:'roboto';letter-spacing:0;background-color:#333;}
.franchisee .interior .store_list .swiper-pagination-current {font-weight:bold;}
.franchisee .interior .btn_area {margin-top:40px;}
.franchisee .interview .tit_area {padding-bottom:65px;}
.franchisee .interview .tit_area .tit {color:#222;font-size:20px;line-height:26px;font-weight:500; text-align:center;}
.franchisee .interview .tit_area .desc {max-width:320px;padding-top:10px;color:#666;font-size:15px;line-height:22px;}
.franchisee .interview .content {position:relative;margin:0 -20px -75px;padding:55px 20px 75px;text-align:center;z-index:0;}
.franchisee .interview .content:before {content:'';display:block;position:absolute;top:-30px;left:50%; width:1px;height:60px;background:#aa8f63;}
.franchisee .interview .content:after {content:'';display:block;position:absolute;top:0;left:0;right:0;height:310px;background:#fafafa;z-index:-1;}
.franchisee .interview .content h5 {color:#546222;font-size:24px;line-height:30px;font-weight:500;}
.franchisee .interview .content .txt {padding:15px 0 25px;color:#333;font-size:15px;line-height:22px;}
.franchisee .interview .content .store_list .link {display:block;position:relative;margin-bottom:20px;}
.franchisee .interview .content .store_list .link img {width:100%;}
.franchisee .interview .content .store_list .link .name {position:absolute;left:25px;;bottom:20px;;text-align:left;}
.franchisee .interview .content .store_list .link .name strong {display:block;color:#fff;font-size:20px;line-height:1;font-weight:500;}
.franchisee .interview .content .store_list .link .name em {display:block;padding-top:10px;color:#999;font-size:12px;line-height:1;}
.franchisee .interview .btn_area {margin-top:40px;}
.layer_pop .interview_con {padding:20px 10px;border-top:#666 1px solid;border-bottom:#cdcdcd 1px solid;word-break:keep-all;}
.layer_pop .interview_con strong {display:block;color:#222;font-size:15px;line-height:1;font-weight:500;}
.layer_pop .interview_con em {display:block;padding-top:7px;color:#999;font-size:12px;line-height:1;}
.layer_pop .interview_con p {padding-top:16px;font-size:12px;line-height:18px;}
.franchisee .agree_area {margin-bottom:33px;}
.franchisee .agree_area .agree_cont {height:300px;margin-bottom:15px;padding:15px;box-sizing:border-box;border:#333 1px solid;font-size:12px;line-height:18px;font-weight:300;overflow-y:auto;word-break:keep-all;}
.franchisee .agree_area .agree_cont h5 {font-weight:500;color:#222;}

/* 사회공헌 */
.csr .csr_intro {padding-bottom:70px;text-align:center;}
.csr .csr_intro h4 {color:#222;font-size:24px;line-height:28px;font-weight:500;}
.csr .csr_intro h4 em {color:#546220;font-weight:bold;font-family:'roboto';}
.csr .csr_intro .desc {padding-top:20px;font-size:15px;line-height:22px;}
.csr .csr_intro .txt {padding-top:60px;color:#333;font-size:15px;line-height:22px;font-weight:500;}
.csr .csr_intro .txt:before {content:'';display:block;margin:0 auto 25px;width:130px;height:120px;background:url(../images/content/img_csr_1.png) no-repeat;background-size:130px auto;}
.csr .csr_cont {position:relative;margin:0 -20px -75px;padding:55px 20px 75px;background:#fafafa;text-align:center;}
.csr .csr_cont:after {content:'';display:block;position:absolute;top:-30px;;left:50%; width:1px;height:60px;background:#aa8f63;}
.csr .csr_cont h5 {color:#546220;font-size:24px;line-height:1;font-weight:500;}
.csr .csr_cont .swiper_area {position:relative;padding-bottom:24px;}
.csr .csr_cont .swiper {margin-top:30px;padding-bottom:0;background:#fff;-webkit-box-shadow:0 5px 20px 0 rgba(0,0,0,0.1);box-shadow:0 5px 20px 0 rgba(0,0,0,0.1);}
.csr .csr_cont .swiper_btn_next, .csr .csr_cont .swiper_btn_prev {top:auto;bottom:207px;margin:0;}
.csr .csr_cont .swiper .thum img {width:100%;}
.csr .csr_cont .swiper .cont {height:225px;padding:10px 25px 0;box-sizing:border-box;text-align:left;background-color:#fff;}
.csr .csr_cont .swiper .cont .logo {display:block;}
.csr .csr_cont .swiper .cont .logo img {height:80px;}
.csr .csr_cont .swiper .cont .tit {display:block;padding-bottom:13px;color:#333;font-size:15px;font-weight:500;}
.csr .csr_cont .swiper .cont .txt {color:#999;font-size:12px;line-height:18px;word-break:keep-all;}

/* POLICY */
.policy .tit_area h4 {color:#546220;}
.policy .policy_cont {padding:25px 10px 0;border-top:#333 2px solid;word-break:keep-all;}
.policy .policy_cont .tit {padding:25px 0 10px;color:#222;font-size:15px;line-height:22px;font-weight:500;}
.policy .policy_cont .tit:first-child {padding-top:0;}
.policy .policy_cont .txt {font-size:12px;line-height:20px;}
.policy .policy_cont ul.txt > li, .policy .policy_cont .txt ul li {margin-left:7px;text-indent:-7px;}
.policy .policy_cont ol.txt > li, .policy .policy_cont .txt ol li {margin-left:12px;text-indent:-12px;}
.policy .policy_cont ol.r_num > li {margin-left:15px;text-indent:-15px;}
.policy .policy_cont .box {padding:16px 20px;border:#d6d6d6 1px solid;color:#546220;font-size:12px;line-height:18px;}

/* ERROR */
.error_page {position: absolute; top:0; left:0; width:100%; height:100%; padding:25px; text-align:center; box-sizing:border-box;}
.error_page .info {display:table; position:relative; width:100%; height:100%; background-color:#f4f4f4; box-sizing:border-box; vertical-align:middle;}
.error_page .info img {width:232px;}
.error_page .info .title {margin-top:40px; color:#222; font-size:22px; font-weight:500; line-height:30px;}
.error_page .info .text {margin-top:25px; color:#999; font-size:13px;}
.error_page .info .info-box {display:table-cell; padding:0 20px 10% 20px; vertical-align:middle;}
.error_page .btn {display:inline-block;position: absolute; bottom:0; left:0; width:100%; height:50px; line-height:50px; padding:0 40px; color:#fff; font-size:15px; font-weight:500; text-align:center; background-color:#546220; text-decoration:none; box-sizing:border-box; vertical-align:middle;}
